[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"
gunicorn = "*"
django-heroku = "*"
django-rq = "*"

[dev-packages]

[requires]
python_version = "3.9"
